body{
    background-color: rgba(245, 217, 217, 0.842);
}


h1, h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav{
    text-align: center;
}

nav a{
    display: inline-block;
    background-color: #3498db;
    color: #000000;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px;
    margin: 5px;
}

nav a:active{
    background-color: rgb(253, 201, 104);
}

header{
    background-color: rgb(56, 56, 56);
    width: 100%;
    height: 80px;
    margin-bottom: 60px;
}