body{
    background-image: url(https://i.pinimg.com/originals/79/f7/35/79f735bdc978bb91c3459899cad1a99a.jpg);
    font-family: cursive;
    background-size: 100%;
}


#volver{
    display: inline-flex; 
    padding: 20px;
    background-color: #3498db;
    color: #000000;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    margin-bottom: 20px;
    transition: background-color 0.3s ease-in-out;
}


#volver:active{
    background-color: rgb(253, 201, 104);
}


nav{
    height:40px;
    width:50%;
    margin: 30px; 
    padding: 5px;
    background-color: #f7bbb9;
    list-style-type: disc;
    border: solid rgb(0, 0, 0) 3px;
    text-align:center;
}

h1{
    text-align:top;
    margin: 10px;
}

ul{
    display: inline-flex;
    align-items: center;
    border: 2px black solid;
    margin: 10px;
    padding: 10px;
    list-style-type:none;
}

li{
    height:auto;
    width:60%;
    margin:0;
    padding: 10px 20px;
}